*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins';
}

body{

background:#F5B000;

padding:50px;

}



.container{

display:grid;

grid-template-columns:
320px 1fr;

background:#f8f8fb;

border-radius:30px;

overflow:hidden;

}



.sidebar{

background:white;

padding:40px;

text-align:center;

}



.profile{

width:170px;

height:170px;

border-radius:50%;

object-fit:cover;

margin-bottom:20px;

}



.info{

text-align:left;

line-height:2;

}



.skill{

display:flex;

justify-content:space-between;

margin-top:20px;

}



.bar{

height:8px;

background:#eee;

border-radius:10px;

margin-bottom:20px;

}



.bar div{

height:100%;

background:#F5B000;

border-radius:10px;

}



button{

padding:14px 26px;

border:none;

background:#F5B000;

border-radius:12px;

cursor:pointer;

margin-top:20px;

}



.content{

padding:60px;

}



.hero{

min-height:400px;

display:flex;

flex-direction:column;

justify-content:center;

}



.hero h1{

font-size:72px;

}



.hero span{

color:#F5B000;

}



.hero h2{

font-size:48px;

}



.hero p{

margin-top:20px;

line-height:2;

color:#555;

}



.cards{

display:grid;

grid-template-columns:
repeat(
auto-fit,
minmax(
250px,
1fr
));

gap:30px;

margin-top:40px;

}



.card{

background:white;

padding:40px;

border-radius:20px;

text-align:center;

transition:.3s;

}



.card:hover{

transform:

translateY(-10px);

}



section{

margin-top:100px;

}



@media(max-width:900px){

.container{

grid-template-columns:1fr;

}



.hero h1{

font-size:40px;

}



.hero h2{

font-size:28px;

}

}